<div class="background-img">
    <h2 class="header2">REGISTRATION FORM</h2>
    <div class="register-form">
        <p>NAME :</p>
        <input type="text" placeholder="Enter Name" name="Name" id="userName" required>
        <P>PHONE NUMBER :</P>
        <input type="text" placeholder="Enter Phone Number" name="Phone Number" id="usernumber" required>
        <P>EMAIL :</P>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
        <div class="list">
            <label for="item">Choose product:</label>
            <select name="product" id="productitem" >
                <option value="item1">item 1</option>
                <option value="item2">item 2</option>
                <option value="item3">item 3</option>
                <option value="item4">item 4</option>
                <option value="item5">item 5</option>
                <option value="item6">item 6</option>
                <option value="item7">item 7</option>
                <option value="item8">item 8</option>
                <option value="item9">item 9</option>
                <option value="item10">item 10</option>
            </select>
        </div>
        <button type="button" name="submit" class="submitbutton">SUBMIT</button>
    </div>
</div>

