<div class="intro"><!--intro website-->
    <div class="intro-logo">
        <img src= "logo.png" alt = "logo">
    </div>
</div>
<div class="imgbackground">
    <div class="container" id="HomePage"> 
        <div class="topnav"> <!--Navigator bar page to page-->
            <div class ="img"><img src= "logo.png" alt = "logo"></div>
            <div class="topnav-right">
            <a href="#HomePage" title="HOMEPAGE">HOME</a>
            <a href="#Aboutus" title="ABOUT US">ABOUT US</a>
            <a href="#Product" title="PRODUCT">PRODUCT</a>
            <a href="#ContactUs" title="CONTACT US">CONTACT US</a>
        </div>  
    </div>
</div>
    <div class="welcomeNotice"><!--Small window for showing welcome sign-->
        <h1>Welcome to cookies shop</h1>
        <p>Sell over 10 different types of chinese pastries Baked with Tradition</p>
    </div>

  