<div class="intro">
    <div class="intro-logo">
        <img src= "logo.png" alt = "logo">
    </div>
</div>
<div class="container">
        <img class="background-image" src="images.png" alt="background"> <!--this is image background-->
    <div class="topnav"> <!--Navigator bar page to page-->
        <div class ="img"><img src= "logo.png" alt = "logo"></div>
        <div class="topnav-right">
        <a href="#HomePage">HOME</a>
        <a href="#Aboutus">ABOUT US</a>
        <a href="#Product">PRODUCT</a>
        <a href="#ContactUs">CONTACT US</a>
        </div>
    </div>
    <div class="welcomeNotice"><!--Small window for showing welcome sign-->
        <h1>Welcome to cookies shop</h1>
        <p>Sell over 10 different types of chinese pastries Baked with Tradition</p>
    </div>
</div>

  