<h1 class="header" id="Aboutus">PRODUCT</h1>
<div class="productsection">
    <div class="item"><img src="CHEESE BUTTER SWIRL.png" alt="item"><p>ITEM 1</p></div>
    <div class="item"><img src="CHEESE PINEAPPLE BALL.png" alt="item"><p>ITEM 2</p></div>
    <div class="item"><img src="CORNFLAKES COOKIES.png" alt="item"><p>ITEM 3</p></div>
    <div class="item"><img src="DRAGON BEARD COOKIES.png" alt="item"><p>ITEM 4</p></div>
    <div class="item"><img src="FRIED FISH CRACKERS.png" alt="item"><p>ITEM 5</p></div>
    <div class="item"><img src="ICE CREAM COOKIES.png" alt="item"><p>ITEM 6</p></div>
    <div class="item"><img src="KUIH KAPIT.png" alt="item"><p>ITEM 7</p></div>
    <div class="item"><img src="PINEAPPLE TART.png" alt="item"><p>ITEM 8</p></div>
    <div class="item"><img src="PRAWN CRACKER.png" alt="item"><p>ITEM 9</p></div>
    <div class="item"><img src="TEMPEH CHIPS.png" alt="item"><p>ITEM 10</p></div>
</div>

